<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @donor.name %>
</p>

<p>
  <b>Email address:</b>
  <%= @donor.email_address %>
</p>

<p>
  <b>Total Donations:</b>
  <p><%= @donor.amount2 %></p>


</p>



<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
