<h1>Listing donations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donations.each do |donation| %>
  <tr>
    <td><%= donation.donor.name %></td>
    <td><%= donation.amount %></td>
    <td><%= donation.created_at.localtime.to_formatted_s (:long) %></td>

    <td><%= link_to 'Show', donation %></td>
    <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
    <td><%= link_to 'Destroy', donation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>

<% end %>
</table>
<p>Donation Total</p>
<p><%= Donation.sum('amount') %></p>


<br />

<%= link_to 'New Donation', new_donation_path %>
